.divWala {
  width: 550px;
  height: auto;
  /* background-color: aquamarine; */
}

h2 {
  text-align: center;
  text-transform: uppercase;
  color: black;
  margin-top: 3%;
}

h5 {
  color: #fff;
}

.form {
  margin-top: 16%;
  padding: 10%;
  background-color: cornflowerblue;
  text-align: center;
}
