.financialScore {
  height: 100%;
  width: 100%;
  background-image: url('../assets/images/background-image.jpg');
  object-fit: contain;
  background-size: cover;
  background-repeat: no-repeat;
}
.financialScoretitle {
  display: flex;
  justify-content: center;
  /* margin-top: 20px; */
}
.financialScoretitle h1 {
  margin-top: 20px;
}

.immunity-form {
  margin: auto;
  width: 60%;
  /* border: 3px solid green; */
  padding: 10px;
  /* margin-top: 9%; */
}
/* input {
  width: 300px !important;
} */
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 9%;
}

.step1form {
  display: flex;
  /* justify-content: center; */
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.step2form {
  display: flex;
  /* justify-content: center; */
  justify-content: space-around;
  align-items: center;
  /* width: 60%; */
}
.img {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 350px !important;
  text-align: center;
  margin-right: 5px;
}

.child-img {
  height: 200px;
  width: 700px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.child-img .img-input {
  display: flex;
  flex-direction: row;
}
img {
  height: 150px;
  width: 150px;
}
.avatar {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.avatar-img {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
}
.avatar-text {
  border: 0px solid black;
  /* background-color: skyblue; */
  padding: 10px;
  font-weight: bold;
  color: black;
  margin-top: 10px;
}
.salary-text {
  padding: 20px;
  margin-top: 20px;
}

.active {
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
}

.form-button {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.label {
  font-weight: bold;
  font-size: 20px;
}

.question {
  border: 0px solid black;
  background-color: white;
  width: 400px;
  /* height: 80px; */
  padding: 10px;
  font-weight: 450;
  font-size: 20px;
  text-align: center;
}

.answers {
  display: flex;
  flex-direction: row;
  margin: 15px;
  margin-left: 0px;
  justify-content: center;
}

.answerDiv {
  margin: 10px;
  width: 80px;
  text-align: center;
  color: white;
  border: 2px solid black;
  background-color: grey;
  padding: 10px;
}

.black {
  background-color: black;
}
.selected {
  background-color: blue;
}
.step6form {
  width: 100%;
}

.result {
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 25px;
  font-weight: 500;
  border: 2px solid black;
  background-color: yellow;
  text-align: center;
}

.result-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.plan {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.plan-btn {
  padding: 20px;
  margin-left: 10px;
  background-color: white;
  font-weight: 600;
}
.start-btn {
  padding: 10px;
  font-weight: 500;
  background-color: blue;
  color: white;
}

.error {
  text-align: center;
  color: red;
}

.align-middle {
  /* margin: auto; */
  width: 100%;
  /* border: 3px solid green; */
  padding: 10px;
  /* margin-top: 10%; */
}

.form-button .btn {
  margin-right: 10px;
}
.final-page {
  display: flex;
  flex-direction: row;
}
.final-page .avatar {
  margin-top: 30px;
  display: flex;
  width: 40%;
  justify-content: start;
}

.final-page .avatar img {
  border: 2px solid white;
  border-radius: 100px;
}
.card-title {
  color: black;
}
