.partner {
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partner-box {
  padding: 7%;
  background-color: antiquewhite;
}

h4 {
  font-weight: 400;
}

.key {
  font-size: medium;
  color: blue;
}

.error {
  font-size: 14px;
  font-weight: 200;
  color: brown;
}

.sucess {
  font-size: 14px;
  font-weight: 200;
  color: darkgreen;
}
