/* .dashboard {
  height: 100%;
  width: 100%;
  background-image: url('./assets/images/term_plan.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.dashboard-title {
  position: absolute;
  left: 30%;
  top: 10%;
  color: rgb(52, 11, 117);
}
.button-div {
  position: absolute;
  top: 40%;
  left: 40%;
}
.btn {
  margin-right: 20px;
} */

.life-cover {
  /* height: 100%; */
  width: 100%;
  background-image: url('./assets/images/background-image.jpg');
  object-fit: contain;
  background-size: cover;
  background-repeat: no-repeat;
}
